<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/bluedevil-5.24.5.tar.xz">bluedevil-5.24.5</a></td>
   <td align="right">169kB</td>
   <td><tt>c96999c1400804e8bddc8b9801c4951f82daca83110e036bdc9c89faaeb31efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/breeze-5.24.5.tar.xz">breeze-5.24.5</a></td>
   <td align="right">41MB</td>
   <td><tt>8525a6b50da5523c3d21c1223e0f2b8ad4a2d147e48e5d128e1c6ee06baaf0a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/breeze-grub-5.24.5.tar.xz">breeze-grub-5.24.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d13215fb25c33c56bb8255659f7274a220fc2ef93dd7f7ac7920ff4187d88c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/breeze-gtk-5.24.5.tar.xz">breeze-gtk-5.24.5</a></td>
   <td align="right">42kB</td>
   <td><tt>23716cc08d570ddcf0e739fef2f585f3469d801313ab2c0ba89f494f93f94530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/breeze-plymouth-5.24.5.tar.xz">breeze-plymouth-5.24.5</a></td>
   <td align="right">108kB</td>
   <td><tt>ac5d26a5ff17f23ac6bd11023056faffc0a8e9ce44a9bcdc7c1b6b929d5b9a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/discover-5.24.5.tar.xz">discover-5.24.5</a></td>
   <td align="right">7.8MB</td>
   <td><tt>93571e5ee5af1e348b93eea1d657c20387b543225037200cab557aef62fa48a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/drkonqi-5.24.5.tar.xz">drkonqi-5.24.5</a></td>
   <td align="right">776kB</td>
   <td><tt>fe151800c5372998d9eb17a7364f3e5f483c323e63ec653dd73994bb2fba41df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kactivitymanagerd-5.24.5.tar.xz">kactivitymanagerd-5.24.5</a></td>
   <td align="right">102kB</td>
   <td><tt>ea9276b022264b3b92a1307be83ca0030a5f12270d9ad5ff1e92f82c1928cd48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kde-cli-tools-5.24.5.tar.xz">kde-cli-tools-5.24.5</a></td>
   <td align="right">618kB</td>
   <td><tt>e7f0dd3469b7b3152e72514f1f6ce544514067011ebd0137cb0957d37ad6d329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kdecoration-5.24.5.tar.xz">kdecoration-5.24.5</a></td>
   <td align="right">47kB</td>
   <td><tt>273087d6345fd1f7bcefa570f56123cde4355832952dba6cb228fe04a6a152c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kde-gtk-config-5.24.5.tar.xz">kde-gtk-config-5.24.5</a></td>
   <td align="right">69kB</td>
   <td><tt>98a19c230fd4559818276c13295250bd3508e2869f979f8c8472d339299ee869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kdeplasma-addons-5.24.5.tar.xz">kdeplasma-addons-5.24.5</a></td>
   <td align="right">620kB</td>
   <td><tt>3db52bc3c594d92deea3cfcb3112b4fa6ce328b7481acaa79187dab274e5e80e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kgamma5-5.24.5.tar.xz">kgamma5-5.24.5</a></td>
   <td align="right">81kB</td>
   <td><tt>8086897a9faa9b1be0222a9505b05b6d2d89f2d730f1f461da63395c581bf1c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/khotkeys-5.24.5.tar.xz">khotkeys-5.24.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7a2307b4ca1dca1b240a59ea4bbbceb48b1f6759c9ce3bb36b3cab7274f6a71a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kinfocenter-5.24.5.tar.xz">kinfocenter-5.24.5</a></td>
   <td align="right">702kB</td>
   <td><tt>c1d241c05ebc578633512bf304b7e5bf461c7e63e45285913e212786eac14b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kmenuedit-5.24.5.tar.xz">kmenuedit-5.24.5</a></td>
   <td align="right">880kB</td>
   <td><tt>78a776a8cd6db98334335b68011ac887f9b27bb52cb4d0b504d14aafe032340a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kscreen-5.24.5.tar.xz">kscreen-5.24.5</a></td>
   <td align="right">134kB</td>
   <td><tt>d9c351ad25783596aae466e305ad80de48ff3094a219ec6ffe08c7870ea3b5bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kscreenlocker-5.24.5.tar.xz">kscreenlocker-5.24.5</a></td>
   <td align="right">116kB</td>
   <td><tt>3270a1845c9fc694a50db38de4c27586d2f488152e1bcf88be0088d6799bf98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/ksshaskpass-5.24.5.tar.xz">ksshaskpass-5.24.5</a></td>
   <td align="right">24kB</td>
   <td><tt>3fe20b23ae5f777d7dd15069212c15826121ce70e5260283d61ad34bad8383cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/ksystemstats-5.24.5.tar.xz">ksystemstats-5.24.5</a></td>
   <td align="right">92kB</td>
   <td><tt>0bacd8f8a494addb4afa37d59236429f8898ab5b80882abde44f41182aa759f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kwallet-pam-5.24.5.tar.xz">kwallet-pam-5.24.5</a></td>
   <td align="right">20kB</td>
   <td><tt>238ed9b80fe3fc72d10a728801c873a0c85db9b9823f3a62ef7d39d6e9a4acea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kwayland-integration-5.24.5.tar.xz">kwayland-integration-5.24.5</a></td>
   <td align="right">24kB</td>
   <td><tt>806a9607bb70f95b08ccad55f28eaf0a85adc1439afa2d2717b7c9d6c33022ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kwayland-server-5.24.5.tar.xz">kwayland-server-5.24.5</a></td>
   <td align="right">216kB</td>
   <td><tt>2ddabe29794489d11096ed831ad4d5c1626130019322d4305d58df84c835b279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kwin-5.24.5.tar.xz">kwin-5.24.5</a></td>
   <td align="right">6.1MB</td>
   <td><tt>f35e15254cebeb8afc5eae1c694a603e04097fe3e7e0033a5f5fc255835eaf82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/kwrited-5.24.5.tar.xz">kwrited-5.24.5</a></td>
   <td align="right">20kB</td>
   <td><tt>6204a31fe1e160c8d664e68b30a1d91d31ead2bbfd7cd5841eeb39cb91dcd23d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/layer-shell-qt-5.24.5.tar.xz">layer-shell-qt-5.24.5</a></td>
   <td align="right">17kB</td>
   <td><tt>f591600cc0697cc94ce765bd17b1f9e3ab52d3d58c4de89e2820de3a7377b279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/libkscreen-5.24.5.tar.xz">libkscreen-5.24.5</a></td>
   <td align="right">97kB</td>
   <td><tt>7ff118af3320e53d2c1cb9f324d2ee13d087062ef354d219f20503da5ac06fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/libksysguard-5.24.5.tar.xz">libksysguard-5.24.5</a></td>
   <td align="right">750kB</td>
   <td><tt>b06cb33a6e17c04c47ed4ded72a122acd6a2af60776c18719cdd74be27eb41ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/milou-5.24.5.tar.xz">milou-5.24.5</a></td>
   <td align="right">47kB</td>
   <td><tt>c1594e8b575d7de7b7cafe8a6f37dbe7c75d338075c6fa0fd8ec08d283ff05e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/oxygen-5.24.5.tar.xz">oxygen-5.24.5</a></td>
   <td align="right">4.4MB</td>
   <td><tt>3b58ef1edd0d704113adacb50b163dbc34a71fcdd9762a97beb23d53393700be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-browser-integration-5.24.5.tar.xz">plasma-browser-integration-5.24.5</a></td>
   <td align="right">217kB</td>
   <td><tt>1b67baf45996b66c63e88a6df5572c83a3f36b777a9df2802c192abd8df5cbf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-desktop-5.24.5.tar.xz">plasma-desktop-5.24.5</a></td>
   <td align="right">5.9MB</td>
   <td><tt>af58796c43a7eb909d4c6782e899e428c9b569a9ab92eb34ba7391c763002c46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-disks-5.24.5.tar.xz">plasma-disks-5.24.5</a></td>
   <td align="right">86kB</td>
   <td><tt>139495ade44ac725856bb4567dfd503fa9eb92c0f7dcca268aa1286e59a974f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-firewall-5.24.5.tar.xz">plasma-firewall-5.24.5</a></td>
   <td align="right">338kB</td>
   <td><tt>84a49688753645c234dec4ad84ac726a3aa2def18795e2f139cff21c16bd6956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-integration-5.24.5.tar.xz">plasma-integration-5.24.5</a></td>
   <td align="right">81kB</td>
   <td><tt>cd4490e1e23276bd4f7827ec1c6a3dee6703b8065bd5b4f3fad8112b53eadf7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-mobile-5.24.5.tar.xz">plasma-mobile-5.24.5</a></td>
   <td align="right">115kB</td>
   <td><tt>ed2b3f08ddb5ed91e33651f3707a3379274721eb5b3803bc9be4af4b3acf0010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-nano-5.24.5.tar.xz">plasma-nano-5.24.5</a></td>
   <td align="right">64kB</td>
   <td><tt>230873425584d68424fd23e95daf31f89a2bb08696c015503191991bdec7bb7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-nm-5.24.5.tar.xz">plasma-nm-5.24.5</a></td>
   <td align="right">904kB</td>
   <td><tt>ae1026cf7d2fb60f862ac9b985da4f7001f54267602062e461d0849f1d2fb429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-pa-5.24.5.tar.xz">plasma-pa-5.24.5</a></td>
   <td align="right">129kB</td>
   <td><tt>068f0d393a87d3f3c8031eaecd1c2d2bdb17e73c510e020280ab18da3c15f8d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-sdk-5.24.5.tar.xz">plasma-sdk-5.24.5</a></td>
   <td align="right">255kB</td>
   <td><tt>1cd4db58018bc827572e5d2f08d6a9a037dd7a0cd0dd72c858e7c42d27d36534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-systemmonitor-5.24.5.tar.xz">plasma-systemmonitor-5.24.5</a></td>
   <td align="right">148kB</td>
   <td><tt>156bd761c4e2e334475ed0e7d0de6bc6f5009197f168d53c846c5c5b67e1a0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-tests-5.24.5.tar.xz">plasma-tests-5.24.5</a></td>
   <td align="right">1kB</td>
   <td><tt>7d667dffdbe7864f7dabaac7c818b45181a0bc7aaa212919793be9067aac15ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-thunderbolt-5.24.5.tar.xz">plasma-thunderbolt-5.24.5</a></td>
   <td align="right">65kB</td>
   <td><tt>9485a89477c629083be0933f44ee96ec65f079c39b16a1ba5f131bb0044d19e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-vault-5.24.5.tar.xz">plasma-vault-5.24.5</a></td>
   <td align="right">173kB</td>
   <td><tt>8122c33727ce5b9c338bdbfe7a96086dedbe9932a73c08cfd39863fe9dff9e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-workspace-5.24.5.tar.xz">plasma-workspace-5.24.5</a></td>
   <td align="right">17MB</td>
   <td><tt>b9912691e0becfa0839dbf7750ea24729b72bad0216bef27584f9faf882064f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plasma-workspace-wallpapers-5.24.5.tar.xz">plasma-workspace-wallpapers-5.24.5</a></td>
   <td align="right">69MB</td>
   <td><tt>119b6732ac14447e49362d9544ff4431ed703dc03e7854926fbf72fd49ab4b29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/plymouth-kcm-5.24.5.tar.xz">plymouth-kcm-5.24.5</a></td>
   <td align="right">39kB</td>
   <td><tt>99f152423ea2b95d74772ec8218d41ed63f821c028ee87767a04bf0e9308a412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/polkit-kde-agent-1-5.24.5.tar.xz">polkit-kde-agent-1-5.24.5</a></td>
   <td align="right">47kB</td>
   <td><tt>89a61cc4f2dee58dd420317b0732a67f954cd22f03d47c4bb33d9c6a5361e870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/powerdevil-5.24.5.tar.xz">powerdevil-5.24.5</a></td>
   <td align="right">617kB</td>
   <td><tt>964ca1b876005595c361add1eab5fa80c8d63da12c1201bdcd234914c6cc23f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/qqc2-breeze-style-5.24.5.tar.xz">qqc2-breeze-style-5.24.5</a></td>
   <td align="right">65kB</td>
   <td><tt>cf4b26850fd6507449a5b28cefd8926424aadf8a41db37396d61cf6f48b71dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/sddm-kcm-5.24.5.tar.xz">sddm-kcm-5.24.5</a></td>
   <td align="right">79kB</td>
   <td><tt>cf9262036c4b3c149663335ab7b3770705924554e227e924dee3c4cfae83e597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/systemsettings-5.24.5.tar.xz">systemsettings-5.24.5</a></td>
   <td align="right">200kB</td>
   <td><tt>5b72b53f0bd8760b35844732a60f99713d45d0f80cecaca80de965e84effe9e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.24.5/xdg-desktop-portal-kde-5.24.5.tar.xz">xdg-desktop-portal-kde-5.24.5</a></td>
   <td align="right">86kB</td>
   <td><tt>b59ccf65d29aef2ce6af9757a5c87eddd87b633fba2e45470f92b18b2ce5c6fe</tt></td>
</tr>

</table>
