/**
 * SPDX-FileCopyrightText: 2019 (c) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2017 (c) Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

 #plasma-last-release {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/reusable-assets/home-blur.jpg);
  height: 350px;
  background-position: center center;
  background-size: cover;
  color: white;
  padding: 20px;
}

.breeze-window {
  max-width: 400px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(118,119,120,230);
  border-radius: 6px; // radius on headerbar/view + 1, to prevent gap
}

.breeze-window .kwin-shadow {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.breeze-window .headerbar {
  background-color: #DEE0E2;
  color: black;
  text-align: center;
  padding: 10px;
  height: 30px;
  line-height: 12px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid;
  border-bottom-color: #AFB2B4;
  position: relative;
}

.breeze-window .headerbar img {
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 4px;
  border-width: 0;
}

.breeze-window img.window-close {
  right: 4px;
}

.breeze-window img.window-maximize {
  right: 26px;
}

.breeze-window img.window-minimize {
  right: 48px;
}

.breeze-window .view {
  padding: 10px;
  color: #000;
  width: 100%;
  background-color: #eff0f1;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

.breeze-window h2 {
  font-size: 20px;
  margin-top: 10px;
  color: black !important;
}

/* Feature tabs */

.tab-content-feature {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nav-features {
  margin-top: 10px;
}

.nav-features .nav-link {
  border-top: 3px solid rgba(77, 77, 77, 0.8);
  margin-left: 1px;
  margin-right: 1px;

  @media (prefers-color-scheme: dark) {
    color: #73c7ff;
  }
}

.nav-features .nav-link.active {
  border-top: 3px solid rgba(61, 174, 233, 0.8);

  @media (prefers-color-scheme: dark) {
    color: #73c7ff;
  }
}

.download-button-img {
  height: 40px;
}

.download-button-img.playstore {
  height: 60px;
}

a, a:visited, a:focus, a:active, a:hover {
  outline: 0 none !important;
}

main section {
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
}

/* Gradient */
#simple-by-default {
  background: rgba(61, 174, 233, 0.1);
  padding: 20px;
}

#powerful-when-needed {
  background: rgba(218, 68, 83, 0.07);
  padding: 20px;
}

#plasma-configuration {
  background: rgba(39, 174, 96, 0.1);
  padding: 20px;
}

#kde-connect {
  background: rgba(246, 116, 0, 0.05);
  padding: 20px;
}

#distro-neon {
  background: rgba(31, 161, 164, 0.2);
  padding: 20px;
}

#distro-opensuse {
  background: rgba(115, 186, 37, 0.2);
  padding: 20px;
}

#distro-kubuntu {
  background: rgba(233, 84, 32, 0.2);
  padding: 20px;
}

#distro-manjaro {
  background: rgba(53, 191, 92, 0.2);
  padding: 20px;
}

.distro-logo {
  max-height: 50px;
  max-width: 225px;
}

section.container{
  padding: 20px;
}

.distribution-logo {
  width: 100px;
  height: auto;
}
.header-image {
  width: 700px;
}

.fullwidth{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.kubuntu-section {
  background-color: rgba(0, 115, 184, 0.1);
}
.opensuse-section {
  background-color: #dceec8;
}
.neon-section {
  background-color: rgba(34, 152, 173, 0.1);
}
.manjaro-section {
  background-color: rgba(53, 191, 92, 0.1);
}
.fedora-section {
  background-color: rgba(41, 65, 114, 0.1);
}
@media (prefers-color-scheme: dark) {
.opensuse-section {
  background-color: #173f4f;
}
}
main section {
  margin-top: 0;
}
.made-by-kde-inline::before {
  content: "K";
  color: #4d4d4d;
  font-family: glyph;
  font-size: 32px;
  line-height: 50px;
  position: relative;
  top: 7px;
}
a.made-by-kde-inline {
  color: #4d4d4d !important;
}

.plasma-logo {
  fill: #3b3f42;
  @media (prefers-color-scheme: dark) {
    fill: white;
  }
}
